@use '../../partials/resets' as *;
@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.bucket-list {
    &__list {
        @include tablet {
            @include flex-row;
            flex-wrap: wrap;
        }
    }

    &__card {
        @include activityCard;

        &:hover {
            .bucket-list__card__icon {
                visibility: visible;
            }
        }

        &--category-intelligence {
            @include border-category-1;
        }

        &--category-creativity {
            @include border-category-2;
        }

        &--category-fun {
            @include border-category-3;
        }

        &--category-adventure {
            @include border-category-4;
        }

        &--category-fitness {
            @include border-category-5;
        }

        &__image {
            @include activityImage;
        }

        &__right {
            @include flex-column;
            justify-content: center;
            align-items: center;
            width: calc(100% - 8.625rem);
            padding: $margin-y-4 $mob-margin-x $margin-y-4 $mob-margin-x;

            @include tablet {
                width: 100%;
                padding: $tab-margin-x-1 1rem $tab-margin-x-1 1rem;
            }

            @include desktop {
                padding: $desk-margin-x/6.25 0 $desk-margin-x/6.25 1rem;
            }
        }

        &__link {
            border: 0;
            background-color: $primary-color-2;
            margin-left: auto;

            &:focus {
                outline: none;
            }
        }

        &__icon {
            visibility: hidden;
        }

        &__title {
            text-align: center;
            @include mob-h2;
            @include bold;
            color: $primary-color-1;
            margin-bottom: $margin-y-3;

            @include tablet {
                @include tab-desk-h3;
            }

            &--done {
                @include tab-desk-h3;
                @include semi-bold;
                color: $primary-color-2;
            }
        }

        &__button {
            width: 100%;
            padding: $margin-y-2 $mob-margin-x;
            border-radius: 1.125rem;
            @include mob-p2;
            background-color: $primary-color-2;
            margin-bottom: $margin-y-4;

            &--category-intelligence {
                @include border-category-1;
                color: $category-color-1;
            }
    
            &--category-creativity {
                @include border-category-2;
                color: $category-color-2;
            }
    
            &--category-fun {
                @include border-category-3;
                color: $category-color-3;
            }
    
            &--category-adventure {
                @include border-category-4;
                color: $category-color-4;
            }
    
            &--category-fitness {
                @include border-category-5;
                color: $category-color-5;
            }

            &:hover {
                background-color: $accent-color;
                border: 0.125rem solid $accent-color;
                color: $primary-color-2;
            }
        }

        &__status {
            color: $primary-color-1;
            @include mob-h3;
            @include semi-bold;
            padding-bottom: $margin-y-3;
            color: $primary-color-2;

            @include tablet {
                @include tab-desk-h3;
                padding: $margin-y-4 0;
            }
        }

        &__review {
            text-decoration: none;
            color: $primary-color-1;
            @include mob-p2;
            text-decoration: underline;
            color: $primary-color-2;

            @include tablet {
                @include tab-desk-p2;
            }
        }

        &__done-intelligence {
            @include background-category-1;
        }

        &__done-creativity {
            @include background-category-2;
        }

        &__done-fun {
            @include background-category-3;
        }

        &__done-adventure {
            @include background-category-4;
        }

        &__done-fitness {
            @include background-category-5;
        }
    }
}