@use '../../partials/resets' as *;
@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.activity {
    padding: 3.5rem $mob-margin-x;
    height: 100vh;
    @include flex-column;
    justify-content: space-between;
    align-items: center;

    @include tablet {
        padding: 3.5rem $tab-margin-x-1;
    }

    @include desktop {
        padding: 3.5rem $desk-margin-x/4.16666;
    }

    &--category-intelligence {
        @include background-category-1;
    }

    &--category-creativity {
        @include background-category-2;
    }

    &--category-fun {
        @include background-category-3;
    }

    &--category-adventure {
        @include background-category-4;
    }

    &--category-fitness {
        @include background-category-5;
    }

    &__back-icon {
        align-self: flex-start;
        border: none;
        background: none;
        cursor: pointer;

        &:focus {
            outline: none;
        }
    }

    &__container {
        @include tablet {
            padding: 0 10.41666vw;
        }

        @include desktop {
            padding: 0 27.5vw;
        }
    }

    &__card {
        width: 100%;
        height: calc(100vw - 8.53332vw);
        @include rounded-corners;
        background-color: $primary-color-2;
        @include flex-column;
        align-items: center;
        justify-content: center;
        padding: 2.25rem $margin-y-5;
        color: $primary-color-1;
        margin-bottom: auto;

        @include tablet {
            height: calc(100vw - 27.0832vw);
            padding: 0 $tab-margin-x-2;
        }

        @include desktop {
            height: calc(100vw - 55vw);
            padding: 0 $desk-margin-x;
        }

        &__title {
            @include mob-h1;
            @include bold;

            @include tablet {
                @include tab-desk-h2;
            }
        }

        &__description {
            @include mob-p2;
            @include regular;
            margin-top: $margin-y-5;

            @include tablet {
                @include tab-desk-p2;
            }
        }

        &__link {
            text-decoration: none;
            color: $primary-color-1;
            @include mob-p2;
            @include bold;
            margin-top: 2.1875rem;
            margin-bottom: 2rem;

            @include tablet {
                @include tab-desk-p2;
            }
        }

        &__route {
            @include mob-h2;
            color: $accent-color;
            @include bold;

            @include tablet {
                @include tab-desk-h3;
            }
        }
    }

    &__wrapper {
        @include flex-column;
        align-items: center;
    }

    &__text {
        color: $primary-color-2;
        margin-bottom: $margin-y-4;
        @include mob-h3;

        @include tablet {
            @include tab-desk-h3;
        }
    }

    &__down-icon {
        animation: bounce 0.5s;
        animation-direction: alternate;
        animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
        animation-iteration-count: infinite;
    }

    @keyframes bounce {
        from {
            transform: translate3d(0, 0, 0);
        }
        to {
            transform: translate3d(0, 1.5rem, 0);
        }
    }
}