@use '../../partials/resets' as *;
@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.activity {
    padding: 3.5rem $mob-margin-x;
    height: 100vh;
    @include flex-column;
    justify-content: center;
    align-items: center;

    &--category-intelligence {
        @include background-category-1;
    }

    &--category-creativity {
        @include background-category-2;
    }

    &--category-fun {
        @include background-category-3;
    }

    &--category-adventure {
        @include background-category-4;
    }

    &--category-fitness {
        @include background-category-5;
    }

    &__back-icon {
        align-self: flex-start;
        margin-bottom: auto;
        border: none;
        background: none;
        cursor: pointer;

        &:focus {
            outline: none;
        }
    }

    &__card {
        width: 100%;
        height: calc(100vw - 8.5332vw);
        @include rounded-corners;
        background-color: $primary-color-2;
        @include flex-column;
        align-items: center;
        justify-content: center;
        padding: 2.25rem $mob-margin-y-5;
        color: $primary-color-1;
        margin-bottom: auto;

        &__title {
            @include mob-h1;
            @include bold;
        }

        &__description {
            @include mob-p2;
            @include regular;
            margin-top: $mob-margin-y-5;
        }

        &__link {
            text-decoration: none;
            color: $primary-color-1;
            @include mob-p2;
            @include bold;
            margin-top: 2.1875rem;
            margin-bottom: 2rem;
        }

        &__route {
            @include mob-h2;
            color: $accent-color;
            @include bold;
        }
    }

    &__wrapper {
        @include flex-column;
        align-items: center;
    }

    &__text {
        color: $primary-color-2;
        margin-bottom: $mob-margin-y-4;
    }

    &__down-icon {
        animation: bounce 0.5s;
        animation-direction: alternate;
        animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
        animation-iteration-count: infinite;
    }

    @keyframes bounce {
        from {
            transform: translate3d(0, 0, 0);
        }
        to {
            transform: translate3d(0, 1.5rem, 0);
        }
    }
}