@use '../../partials/resets' as *;
@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.search {
    width: 100%;
    height: 2.25rem;
    border-radius: 1.125rem;
    outline: none;
    border: 0;
    background-color: $primary-color-3;
    background-image: url('../../assets/icons/search.svg');
    background-repeat: no-repeat;
    background-position: center left 1rem;
    padding-left: 2.75rem;
    @include flex-column;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    @include mob-p2;

    @include tablet {
        width: calc(100% - 23.95832vw);
        margin: 0 11.97916vw;
        padding-top: 0.4rem;
        @include tab-desk-p2;
    }

    @include desktop {
        width: 41.25vw;
        margin: 0 22.5vw;
    }

    &:focus {
        border: 0.0625rem solid $accent-color;
        color: $primary-color-1;
    }

    &::placeholder {
        color: $accent-color;
        @include mob-p2;
        @include regular;

        @include tablet {
            @include tab-desk-p2;
        }
    }
}