@use '../../partials/resets' as *;
@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.activity-nav {
    &__card {
    @include activityCard;

        &__image {
            @include activityImage;
        }

        &__right {
            @include flex-column;
            padding: $mob-margin-y-4 0 $mob-margin-y-3 $mob-margin-x;
            @include mob-h3;
        }

        &__title {
            @include bold;
            margin-bottom: $mob-margin-y-3;
        }

        &__line {
            @include flex-row;
            align-items: center;
        }

        &__wrapper {
            @include flex-row;
            margin-top: $mob-margin-y-3;
        }

        &__stats {
            @include bold;

            &--text {
                @include regular;
                padding-left: $mob-margin-x/4;
            }
        }

        &--category-intelligence {
            @include border-category-1;

            &:hover {
                @include background-category-1;
            }
        }

        &--category-creativity {
            @include border-category-2;

            &:hover {
                @include background-category-2;
            }
        }

        &--category-fun {
            @include border-category-3;

            &:hover {
                @include background-category-3;
            }
        }

        &--category-adventure {
            @include border-category-4;

            &:hover {
                @include background-category-4;
            }
        }

        &--category-fitness {
            @include border-category-5;

            &:hover {
                @include background-category-5;
            }
        }
    }
}