@use '../../partials/resets' as *;
@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.activity-card {
    width: 100%;
    height: 8.875rem;
    @include rounded;
    @include flex-row;

    &__image {
        @include rounded;
    }

    &__right {
        @include flex-column;
        padding: $mob-margin-y-4 0 $mob-margin-y-4 $mob-margin-x;
        @include mob-h3;
    }

    &__title {
        @include bold;
        margin-bottom: $mob-margin-y-3;
    }

    &__stats {
        @include regular;
        margin-bottom: $mob-margin-y-3;
    }

    &--category-1 {
        border: 0.125rem solid $category-color-1;
    }

    &--category-2 {
        border: 0.125rem solid $category-color-2;
    }

    &--category-3 {
        border: 0.125rem solid $category-color-3;
    }

    &--category-4 {
        border: 0.125rem solid $category-color-4;
    }

    &--category-5 {
        border: 0.125rem solid $category-color-5;
    }
}