@use '../../partials/resets' as *;
@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.activity__card__button, .reviews__card__button, .user-profile__button {
    width: 100%;
    background-color: $accent-color;
    padding: $mob-margin-y-3 $mob-margin-y-4;
    color: $primary-color-2;
    @include mob-p2;
    @include bold;
    outline: none;
    border: 0;
    border-radius: 1.125rem;

    &:hover {
        background-color: $primary-color-1;
    }
}

.review__card__button {
    @extend .activity__card__button;
    width: auto;
    background-color: $primary-color-2;
    color: $primary-color-1;
    border: 0.0625rem solid $primary-color-1;
    margin-left: auto;
}