@use '../../partials/resets' as *;
@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.main {
    padding: 0 $mob-margin-x;
    padding: 0 $tab-margin-x-1;
}

.categories {
    &__list {
        list-style-type: none;
    }
}