@use '../../partials/resets' as *;
@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.main {
    padding: 0 $mob-margin-x;

    @include tablet {
        padding: $margin-y-6 $tab-margin-x-1/2;
    }
}

.categories {
    &__list {
        list-style-type: none;
    }
}