@use '../../partials/resets' as *;
@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.review {
    &__card {
        padding: $mob-margin-y-4 0;
        @include flex-row;
        justify-content: flex-start;
        border-bottom: 0.0625rem solid $primary-color-4;

        &__image {
            width: 4rem;
            height: 4rem;
            @include rounded;
            object-fit: cover;
        }

        &__wrapper {
            margin-left: $mob-margin-x;
            width: calc(100% - 4rem);
        }

        &__header {
            @include flex-row;
            justify-content: space-between;
        }

        &__name {
            @include mob-h3;
            @include bold;
        }

        &__date {
            @include mob-h3;
        }

        &__content {
            @include mob-p2;
            margin-top: $mob-margin-y-4;
        }

        &__thumbs {
            @include mob-p2;
            @include semi-bold;
            margin: $mob-margin-y-4 0;
        }

        &__footer {
            @include flex-row;
        }

        &__marked {
            @include mob-h3;
            @include semi-bold;
            margin-left: auto;
            color: $accent-color;
        }
    }
}