@use '../../partials/resets' as *;
@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.add-review {
    margin-top: $margin-y-5;
    padding-bottom: $margin-y-5;
    border-bottom: 0.0625rem solid $primary-color-4;
    width: 100%;

    &__heading {
        @include mob-h2;

        @include tablet {
            @include tab-desk-h3;
        }
    }

    &__form {
        @include flex-row;
        margin-top: $margin-y-5;

        &__image {
            width: 4rem;
            height: 4rem;
            @include rounded;
        }

        &__container {
            width: calc(100% - 4rem);
            @include flex-column;
            padding-left: $mob-margin-x;

            @include tablet {
                padding-left: $tab-margin-x-1/1.5;
            }
        }

        &__wrapper {
            @include flex-column;
            width: 100%;
            margin-bottom: $margin-y-4;
        }

        &__label {
            width: 100%;
            @include mob-p2;
            margin-bottom: $margin-y-3;

            @include tablet {
                @include tab-desk-p2;
            }
        }

        &__rating {
            &:focus {
                outline: none;
            }
        }

        &__input {
            width: 100%;
            background-color: $primary-color-3;
            outline: none;
            border: 0;
            height: 6rem;
            @include rounded-corners;
            margin-bottom: $margin-y-3;
            padding-left: 1rem;
            padding-bottom: 3.5rem;
        }
    }
}