@use '../../partials/resets' as *;
@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.user-profile {
    padding: 0 $mob-margin-x;
    @include flex-column;
    align-items: center;

    &__image {
        width: 5rem;
        height: 5rem;
        @include rounded;
        margin-top: $mob-margin-y-3;
        margin-bottom: $mob-margin-y-6;
    }
}

.user-bucket {
    width: 100%;
    margin-top: $mob-margin-y-6;
    margin-bottom: $mob-margin-y-5;

    &__categories {
        list-style-type: none;
        width: 100%;
        padding: 0;
    }

    &__category-bar {
        margin-bottom: $mob-margin-y-3;
    }

    &__header {
        @include flex-row;
        justify-content: space-between;
    }

    &__heading {
        @include mob-h2;
    }
}