@use '../../partials/resets' as *;
@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.profile {
    padding: $margin-y-6 $mob-margin-x;

    @include tablet {
        padding: $margin-y-6 $tab-margin-x-1/2;
    }

    &__top {
        @include flex-column;
        align-items: center;
        width: 100%;

        @include tablet {
            padding: 0 11.97916vw;
        }
    }

    &__image {
        width: 12rem;
        height: 12rem;
        margin-bottom: $margin-y-4;
    }
}

.bucket-list {
    @include tablet {
        width: 100%;
        padding: 0 $tab-margin-x-1/2;
    }

    &__categories {
        list-style-type: none;
        width: 100%;
        padding: 0;
        margin: 0;
        margin-top: $margin-y-4;
    }

    &__category-bar {
        margin-bottom: $margin-y-3;
    }

    &__heading {
        @include mob-h2;
        @include bold;
        margin-top: $margin-y-6;
        margin-bottom: $margin-y-5;
        margin-right: auto;
    }

    &__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}