@use '../../partials/resets' as *;
@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.categories {
    &__card {
        @include flex-column;
        align-items: center;
        text-decoration: none;
        width: 3.75rem;

        &--active {
            border-bottom: 0.25rem solid $accent-color;
        }
    }

    &__circle {
        width: 3rem;
        height: 3rem;
        @include rounded;
        @include flex-row;
        justify-content: center;
        align-items: center;

        &--category-intelligence {
            @include background-category-1;
        }

        &--category-creativity {
            @include background-category-2;
        }

        &--category-fun {
            @include background-category-3;
        }

        &--category-adventure {
            @include background-category-4;
        }

        &--category-fitness {
            @include background-category-5;
        }
    }

    &__icon {
        width: 2rem;
        height: 2rem;
    }

    &__label {
        @include mob-p3;
        margin-top: $mob-margin-y-3;
        text-transform: capitalize;
        color: $primary-color-1;
    }
}