@use '../../partials/resets' as *;
@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.categories {
    &__card {
        @include flex-column;
        align-items: center;
    }

    &__circle {
        width: 3rem;
        height: 3rem;
        @include rounded;
        @include flex-row;
        justify-content: center;
        align-items: center;

        &--category-intelligence {
            @include background-category-1;
            margin: 0 0.6875rem 0 0.5rem;
        }

        &--category-fitness {
            @include background-category-2;
            margin: 0 0.6875rem;
        }

        &--category-fun {
            @include background-category-3;
            margin: 0 0.6875rem;
        }

        &--category-adventure {
            @include background-category-4;
            margin: 0 0.6875rem;
        }

        &--category-creativity {
            @include background-category-5;
            margin: 0 0.5rem 0 0.6875rem;
        }
    }

    &__icon {
        width: 2rem;
        height: 2rem;
    }

    &__label {
        @include mob-p3;
        margin-top: $mob-margin-y-3;
        text-transform: capitalize;
    }
}