@use '../../partials/resets' as *;
@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.header {
    padding: 0.875rem $mob-margin-x 0 $mob-margin-x;
    background-color: $primary-color-3;
    color: $primary-color-1;
    margin-bottom: 1.5rem;

    @include tablet {
        padding: 0.875rem $tab-margin-x-1 1.5rem $tab-margin-x-1;
        height: 5rem;
        @include flex-row;
        align-items: center;
        margin-bottom: 0;
    }

    @include desktop {
        padding: 0.875rem $desk-margin-x 1.5rem $desk-margin-x;
    }

    &__logo {
        @include flex-column;
        align-items: center;
        justify-content: center;
        height: 2rem;
    }

    &__nav {
        @include flex-row;
        justify-content: space-between;

        @include tablet {
            margin-left: auto;
        }
    }

    &__link {
        width: 43.7333vw;
        text-align: center;
        text-decoration: none;
        color: $primary-color-1;
        @include mob-h2;
        @include semi-bold;
        padding-bottom: 0.25rem;
        margin-top: 1.625rem;

        @include tablet {
            width: 13.02083vw;
            padding-bottom: 1rem;
            margin-top: 2.85rem;
            @include tab-desk-h3;
            margin-left: $tab-margin-x-1;
        }

        @include desktop {
            width: 19.6875vw;
            margin-left: 1.875vw;
        }

        &--active {
            border-bottom: 0.25rem solid $accent-color;
            @include bold;

            @include tablet {
                border-bottom: 0.25rem solid $accent-color;
            }
        }
    }
}