@use '../../partials/resets' as *;
@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.categories {
    &__list {
        @include flex-row;
        padding: 0;
        margin: $mob-margin-y-5 0;
    }
    
    &__item {
        list-style-type: none;
    }
}