@use '../../partials/resets' as *;
@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.categories {
    &__list {
        @include flex-row;
        padding: 0;
        margin: $margin-y-5 0;
        justify-content: space-between;

        @include tablet {
            margin: $margin-y-6 8.07291vw 1.25rem 8.07291vw;
        }

        @include desktop {
            margin: $margin-y-6 20.46875vw 1.25rem 20.46875vw;
        }
    }

    &__item {
        list-style-type: none;
        margin: 0 $mob-margin-x/4;

        @include tablet {
            margin: 0 $tab-margin-x-1*1.25;
        }

        @include desktop {
            margin-left: 2.03125vw;
            margin-right: 2.03125vw;
        }
    }
}