@use '../../partials/resets' as *;
@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.categories {
    &__list {
        @include flex-row;
        padding: 0;
        margin: $margin-y-5 0;
        justify-content: space-between;

        @include tablet {
            margin: $margin-y-6 8.07291vw 1.25rem 8.07291vw;
        }
    }
    
    &__item {
        list-style-type: none;
        margin-left: $mob-margin-x/4;
        margin-right: $mob-margin-x/4;

        @include tablet {
            margin-left: 1.25 * $tab-margin-x-1;
            margin-right: 1.25 * $tab-margin-x-1;
        }
    }
}