@use './variables' as *;
@use './typography' as *;

@mixin tablet {
    @media (min-width: $breakpoint-tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $breakpoint-desktop) {
        @content;
    }
}

@mixin regular {
    font-weight: 400;
}

@mixin semi-bold {
    font-weight: 600;
}

@mixin bold {
    font-weight: 700;
}

@mixin mob-h1 {
    font-size: 1.5rem;
    line-height: 2rem;
}

@mixin mob-h2 {
    font-size: 1rem;
    line-height: 1.5rem;
}

@mixin mob-h3 {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

@mixin mob-p1 {
    font-size: 0.8125rem;
    line-height: 1.25rem;
}

@mixin mob-p2 {
    font-size: 0.8125rem;
    line-height: 1.125rem;
}

@mixin mob-p3 {
    font-size: 0.75rem;
    line-height: 1.25rem;
}

@mixin flex-row {
    display: flex;
}

@mixin flex-column {
    @include flex-row;
    flex-direction: column;
}

@mixin rounded-corners {
    border-radius: 0.5rem;
}

@mixin rounded {
    border-radius: 50%;
}

@mixin border-category-1 {
    border: $border-1 solid $category-color-1;
}

@mixin border-category-2 {
    border: $border-1 solid $category-color-2;
}

@mixin border-category-3 {
    border: $border-1 solid $category-color-3;
}

@mixin border-category-4 {
    border: $border-1 solid $category-color-4;
}

@mixin border-category-5 {
    border: $border-1 solid $category-color-5;
}

@mixin background-category-1 {
    background-color: $category-color-1;
}

@mixin background-category-2 {
    background-color: $category-color-2;
}

@mixin background-category-3 {
    background-color: $category-color-3;
}

@mixin background-category-4 {
    background-color: $category-color-4;
}

@mixin background-category-5 {
    background-color: $category-color-5;
}

@mixin activityCard {
    width: 100%;
    height: 8.875rem;
    margin-bottom: $mob-margin-y-4;
    @include rounded-corners;
    @include flex-row;
}

@mixin activityImage {
    border-radius: 0.35rem;
    width: 8.625rem;
    height: 8.625rem;
    object-fit: cover;
}