$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

$primary-color-1: #4A4542;
$primary-color-2: #FEFEFE;
$category-color-1: #4D83BF;
$category-color-2: #D46960;
$category-color-3: #E6A473;
$category-color-4: #68B5B0;
$category-color-4: #808DDE;
$accent-color: #E6BF73; 
