$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

$primary-color-1: #191919;
$primary-color-2: #FEFEFE;
$primary-color-3: #F9F4F1;
$primary-color-4: #E4E4E4;
$category-color-1: #347DA2;
$category-color-2: #644C8A;
$category-color-3: #C44978;
$category-color-4: #389E95;
$category-color-5: #DC5349;
$accent-color: #D9863A;

$border-1: 0.125rem;

$mob-margin-x: 4.2666vw;
$mob-margin-y-1: 0.25rem; 
$mob-margin-y-2: 0.375rem;
$mob-margin-y-3: 0.5rem;
$mob-margin-y-4: 1rem;
$mob-margin-y-5: 1.5rem;
$mob-margin-y-6: 2rem;