$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

$primary-color-1: #191919;
$primary-color-2: #FEFEFE;
$primary-color-3: #F1F1F1;
$primary-color-4: #E4E4E4;
$category-color-1: #4D83BF;
$category-color-2: #D46960;
$category-color-3: #E6A473;
$category-color-4: #68B5B0;
$category-color-4: #808DDE;
$accent-color: #E6BF73;

$mobile-margin-x: 5vw;
$mobile-margin-y-1: 1rem;